:root {
  --black: #000;
  --white: #fff;

  --grey-dark-0: #080808;
  --grey-dark-1: #181818;
  --grey-dark-2: #282828;
  --grey-dark-3: #383838;
  --grey-dark-4: #484848;

  --grey-light-1: #585858;
  --grey-light-2: #686868;
  --grey-light-3: #787878;
  --grey-light-4: #888888;
  --grey-light-5: #989898;

  --grey-light-6: #D0D0D0;
  --grey-light-7:#E0E0E0;
  --grey-light-8:#F0F0F0;


  --red: rgb(230, 36, 36);
  --yellow: #f4f73e;
  --yellow-light: #f4f5c5;
  --gold: #fad104;
  --green: rgb(39, 170, 39);
  --aqua: #2febd2;

  --facebook: #3b5998;
  --instagram: #FD1D1D;
  --twitter: #1dcaff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: var(--black);
  color: var(--white);
  /* font-family: 'Playfair Display', serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
 }

.container__main {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
}

.container__body {
  padding: 0;
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
}

/* ----------------------------------------- */
/* ------------Typography------------ */
/* ----------------------------------------- */

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.grey-light-4 {
  color: var(--grey-light-4);
}

.grey-light-5 {
  color: var(--grey-light-5);
}

.grey-light-6 {
  color: var(--grey-light-6);
}

.grey-light-7 {
  color: var(--grey-light-7);
}

.grey-light-8 {
  color: var(--grey-light-8);
}

.light-yellow {
  color: var(--yellow-light);
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-bottom-lg {
    margin-bottom: 2.5rem;
}

.line-height-wide {
  line-height: 2.5rem;
}

.line-height-sm {
  line-height: 2rem;
}

.line-height-v-sm {
  line-height: 1.5rem;
}

.text-align-center {
  text-align: center;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.bold-1 {
  font-weight: 400;
}

.bold-2 {

}

.bold-3 {

}

/* .wide {
  width: 10rem;
} */

.text-size-1 {
  font-size: 4rem;
  font-weight: 200;
}

.text-size-2 {
  font-size: 3.25rem;
  font-weight: 300;
  box-sizing: inherit;

}

.text-size-3 {
  font-size: 2rem;
  font-weight: 300;
}

.text-size-3_5 {
  font-size: 1.5rem;
  font-weight: 300;
}

.text-size-4 {
  font-size: 1.5rem;
  font-weight: 200;
}

.text-size-4_5 {
  font-size: 1rem;
  font-weight: 200;
}

.text-size-5 {
  font-size: 0.7rem;
  font-weight: 200;
}

.involved__text-p {
  margin: 0.25rem 0 4rem 0;
}

/* ----------------------------------------- */
/* ------------Route-Transitions------------ */
/* ----------------------------------------- */

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit {
  opacity: 0;
}

/* ----------------------------------------- */
/* ------------FLEXBOX------------ */
/* ----------------------------------------- */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.align-items-flex-start {
  align-items: flex-start;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  align-items: flex-start;
}

/* ----------------------------------------- */
/* ------------404------------ */
/* ----------------------------------------- */

._404 {
  text-align: center;
  transform: translateY(5.25rem);
}

/* ----------------------------------------- */
/* ------------NAV------------ */
/* ----------------------------------------- */

.nav {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: var(-black); */
  border-bottom: 1px solid var(--black);
  /* display: block; */
  position: relative;
  z-index: 1000;
}

.nav:hover {
  border-bottom: 1px solid var(--white);
  background-color: var(--black);
}

.logo__nav {
  width: 5rem;
  margin-left: 5rem;
  /* transform: translateY(0rem); */
}

.logo-sm {
  width: 3rem;
}

.nav__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  margin-right: 5rem;
}

.nav li {
  margin-right: 10px;
}

.nav__upper_container {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem 0 0.5rem;
  /* background-color: var(--red); */
}

.nav__details {
  padding: 0 0 2rem 2rem; 
  /* background-color: var(--gold); */
}

/* ----------------------------------------- */
/* ------------HOME------------ */
/* ----------------------------------------- */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/svg/hero.svg);
  background-size: cover;
  height: 99vh;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20rem;
}

.hero__text-box-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__text-box-logo {
  padding: 5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo__home {
  width: 25.5rem;
  transform: translateX(1rem);
  margin-bottom: 1.25rem;
}

/* ----------------------------------------- */
/* ------------ABOUT------------ */
/* ----------------------------------------- */

.about-page {
  /* background: url(./img/staryBg.png); */
  /* background: var(--black); */
}

.about {
  padding: 5rem 0;
}

.about__header {
  text-align: center;
  margin-bottom: 3rem;
}

.about__item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 3rem 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 2rem;
  width: 20rem;
  height: 40rem;
  /* transform: translate(-8rem, 1.5rem); */
}

.about__img {
  width: 70%;
  height: auto;
  margin-right: 2rem;
  border-radius: 0 2rem 2rem 0;
}



/* ----------------------------------------- */
/* ------------TEAM------------ */
/* ----------------------------------------- */
.team__header {
  text-align: center;
  margin-bottom: 3rem;
}


.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team__members,
.sponsors {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsors {
  padding-bottom: 19rem;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;

}

.team__img {
  border: 10px solid var(--grey-dark-1);
  box-shadow: 0 0 10px 12px var(--grey-dark-1);
  border-radius: 50%;
  width: 20rem;
  margin: 1.5rem;
    transition: all 0.6s;
}

.sponsor__header {
  text-align: center;
}

.sponsor__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
  margin: 3rem 2rem;
}

.sponsor__img {
  width: 10rem;
  margin: 0.5rem;
}

.sponsors {
  margin: 1rem auto;
}

.sponsor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

/* ----------------------------------------- */
/* ------------PRINCIPLES------------ */
/* ----------------------------------------- */

.principles {
  padding: 4rem 5rem;
}

.principles__header {
  text-align: center;
  margin-bottom: 3rem;
}

.principles__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
}

.principles__text {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  height: 20rem;
  width: 45rem;
}

.principles__img {
  width: 40%;
  margin-right: 2rem;
  border-radius: 1rem;
}

.principles__text h3 {
  margin-top: 0;
}

.Davis_Co-op {
  /* transform: translateY(-1.5rem); */
}

/* ----------------------------------------- */
/* ------------Involved------------ */
/* ----------------------------------------- */

.involved {
  padding: 5rem 0 21rem 0;
}

.involved__header {
  text-align: center;
  margin-bottom: 3rem;
}

.involved__items-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-start; */
}

.involved__item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: inherit;
  /* padding: 3rem; */
}

.involved__text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.involved__img {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 2.5rem;
  border: 10px solid var(--grey-dark-1);
  box-shadow: 0 0 10px 12px var(--grey-dark-1);
  transition: all 0.4s;
}

.involved__img:hover,
.team__img:hover {
  border: 10px solid var(--yellow-light);
  box-shadow: 0 0 10px 15px var(--yellow-light);
}

.involved__text h3 {
  margin-top: 0;
}



/* ----------------------------------------- */
/* ------------SIDEBAR------------ */
/* ----------------------------------------- */
.sidebar-list {
  display: flex;
  padding: 10px;
  flex-direction: column;
  padding: 0;
}

.sidebar-list-item:visited,
.sidebar-list-item:link {
  text-decoration: none;
  /* color: var(--white); */
}

/* ----------------------------------------- */
/* ------------FORM------------ */
/* ----------------------------------------- */
.form {
  height: 30rem;
  padding: 1.5rem 3rem 30rem 3rem;
  /* background: var(--black); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  /* align-items: center; */
}

.form__footer {
  /* grid-row: 4 / span 1;
  grid-column: 3 / span 2; */
  /* height: 18rem; */
  margin: 1rem auto;
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.footer-row-2 {
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 3rem;
}

.footer-row-3 {
  grid-row: 3 / span 2;
  grid-column: 1 / -1;
}


.form__header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* transform: translate(-50, -50); */
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
}

.form__success-message--newsletter {
  color: var(--green);
  position: absolute;
  transform: translateY(10.5rem)
  /* animation: animate 3s ease-out; */
}

.form__fail-message--newsletter {
  color: var(--red);
  position: absolute;
  transform: translateY(10.5rem)
  /* animation: animate 3s ease-out; */
}

.form__success-message--contact {
  color: var(--green);
  position: absolute;
  transform: translateY(11rem);
  /* animation: animate 3s ease-out; */
}

.form__fail-message--contact {
  color: var(--red);
  position: absolute;
  transform: translateY(11rem);
  /* animation: animate 3s ease-out; */
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.form__content {
  /* align-self: start; */
  /* justify-self: start; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  /* min-height: 10rem; */
  width: 100%;
}

.form__element {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 1rem;
  margin: 1.5rem;
    padding: 0.5rem 4rem 0 0 ;
}

.form__input-footer {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.6rem;
  width: 21.25rem;
  margin: 0 1rem 0.5rem 0;
}

.form__input-contact {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.8rem;
  width: 90%;
    margin-top: 0.5rem;
}

.form__input,
.form__textarea {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 3px;
  /* border-bottom: 1px solid #ccc; */
  transition: all 0.2s;

  outline: none;
  border: 1px solid var(--black); 
}

.form__inputs {
  /* padding: 3rem; */
   grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form__textarea {
 height: 15rem;
 /* width: 140%; */
}

.form__input:hover,
.form__textarea:hover {
  border: 1px solid var(--grey-dark-1);
}

.form__input-contact:hover,
.form__textarea:hover {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.8rem;
  border-radius: 3px;
  border: 1px solid var(--grey-light-6); 
}

/* input[type="email"]:after {
  content: "*";
  color: var(--red);
} */

/* ----------------------------------------- */
/* ------------MEDIA------------ */
/* ----------------------------------------- */
.media {
  padding: 5rem 0 14rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media__header {
  text-align: center;
  margin-bottom: 3rem;
}

/* ----------------------------------------- */
/* ------------BUTTONS------------ */
/* ----------------------------------------- */

/* .btn:visited, .btn:link {

}

.btn:active {
  transform: translateY(-10.1rem);
}

.btn:hover {
  background-color: var(--white);
  transform: translateY(-0.3rem);
} */

.btn {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.4s;
  color: var(--white);
  border: 1px solid var(--white);
  text-decoration: none; 
}

.btn__footer {
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0.6rem;
  cursor: pointer;
  transition: all 0.4s;
  color: var(--grey-light-5);
  border: 1px solid var(--grey-light-5);
  text-decoration: none; 
}

.btn__footer:hover {
  color: var(--white);
  border: 1px solid var(--white)
}
  
.btn:hover, .btn:active,
.btn-footer:hover,
.btn-footer:active {
  background-color: var(--white);
  color: var(--grey-dark-1); 
}

/* .btn-footer:hover {
  transform: translateY(-0.2rem); }
.btn-footer:active {
  transform: translateY(-0.1rem); } */

.btn__form {
  width: 113%;
  margin-top: 0.5rem;
  /* transform: translateY(3.5rem); */
}

.btn__involved {
  width: 15rem;
}

.btn__involved:active {
  transform: translateY(-.1rem);
}

.btn__involved:hover {
  background-color: var(--white);
  color: var(--grey-dark-1);
  transform: translateY(-.2rem);
}

.btn__contact {
  transform: translateY(2.0rem);
}

/* ----------------------------------------- */
/* ------------NEON BTN------------ */
/* ----------------------------------------- */
.btn__header-container {
  display: flex;
  align-items: center;
}
.btn__glow-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn__glow-item{
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  margin-top: 1rem;
  color: var(--red);
  border: 1px solid var(--red);
  background: transparent;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.btn__glow-item-1 {
  background-color: var(--red);
  color: var(--black);
}

/* .btn__glow-item:nth-child(1) {
  filter: hue-rotate(290deg);
}

.btn__glow-item:nth-child(2) {
  filter: hue-rotate(90deg);
} */

/* a:nth-child(1) {
    filter: hue-rotate(290deg);
}

a:nth-child(2) {
    filter: hue-rotate(70deg);
} */

.btn__glow-item:hover{
  background: var(--red);
  color: #050801;
  box-shadow: 0 0 95px var(--red),
              0 0 25px var(--red),
              0 0 50px var(--red),
              0 0 9001200px var(--red);
}

.btn__glow-item span {
  position: absolute;
  display: block;
}


/* ----------------------------------------- */
/* ------------FOOTER------------ */
/* ----------------------------------------- */
.footer {
  height: 70vh;
  width: 100%;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-color: var(--grey-dark-2);
  display: grid;
  grid-template-rows: 4rem repeat(3, 1fr) 3rem;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  z-index: 1000;
}

.footer__pre-space {
  background-color: var(--grey-dark-1);
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  display: flex;
}

.footer__location_and_links {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  justify-self: center;
  align-self: center;
  margin: 1rem auto;
}
/* /////////FIX BELOW__________ */
.legal_and_social_media_links {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  grid-row: 4 / span 2;
  grid-column: 2 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-icons__list {
  padding: 0;
  width: 73.6%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.social-media-icon:hover {
  fill: 1px solid var(--grey-light-6);
}

.facebook {
  fill: var(--facebook);
}

.instagram {
  fill: var(--instagram);
}

.twitter {
  fill: var(--twitter);
}

.legal {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: var(--grey-light-4);
}

.footer__logo {
  align-self: flex-end;
  width: 5rem;
  grid-row: 5 / span 1;
  grid-column: 4 / span 1;
  justify-self: end;
  margin: 0 3rem 3rem 0;
}

.footer__details {

}

/* ----------------------------------------- */
/* ------------WAVYDIV------------ */
/* ----------------------------------------- */

.wavy-div-container {
    /* padding-top: 25rem;
    position: relative; */
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wavy-div-box {
    position: relative;
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.wavyNav__about {
  width: 1rem;
  height: 11rem;
}

.wavy-div-box:hover {
    color: var(--black);
}

.wavy-div-box:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 4px solid var(--grey-light-7);
    filter: url(#wavy);
}

.wavy-div-box:hover:before {
    background: var(--grey-light-6);
    transition: 0.5s;
}

.wavy-div-content {
    position: absolute;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

/* ----------------------------------------- */
/* ------------svgStroke------------ */
/* ----------------------------------------- */

.facebook path {
  /* fill: transparent; */
  stroke-width: 10;
  stroke: var(--facebook);
}

.instagram path {
  /* fill: transparent; */
  stroke-width: 10;
  stroke: var(--instagram);
}

.twitter path {
  /* fill: transparent; */
  stroke-width: 10;
  stroke: var(--twitter);
}


.facebook {
  color: var(--facebook);
  stroke-dasharray: 3990;
  stroke-dashoffset: 0;
}

.facebook:hover path {
  animation: animate-facebook 2s linear forwards
}

@keyframes animate-facebook {
  0% {
      stroke-dashoffset: 0; 
  }
  40% {
      stroke-dashoffset: 3990;
  }
  80% {
      stroke-dashoffset: 7980;
      fill: transparent;
  }
  100% {
      stroke-dashoffset: 7980;
      fill: var(--facebook);
  }
}

.twitter {
  stroke-dasharray: 3990;
  stroke-dashoffset: 0;
}

.twitter:hover path {
  animation: animate-twitter 2s linear forwards
}

@keyframes animate-twitter {
  0% {
      stroke-dashoffset: 0; 
  }
  40% {
      stroke-dashoffset: 3990;
  }
  80% {
      stroke-dashoffset: 7980;
      fill: transparent;
  }
  100% {
      stroke-dashoffset: 7980;
      fill: var(--twitter);
  }
}

.instagram {
  stroke-dasharray: 2990;
  stroke-dashoffset: 0;
}

.instagram:hover path {
  animation: animate-instagram 2s linear forwards
}

@keyframes animate-instagram {
  0% {
    stroke-dashoffset: 0; 
      
  }
  40% {
    stroke-dashoffset: 2990;
  }
  80% {
    stroke-dashoffset: 5980;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 5980;
    fill: var(--instagram);
  }
}


/* ----------------------------------------- */
/* ------------MAP------------ */
/* ----------------------------------------- */

.map {
  height: 35vh;
  width: 100%;
  border-top: 7px solid var(--grey-dark-0);
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 5rem;
}

/* ----------------------------------------- */
/* ------------Starry Background------------ */
/* ----------------------------------------- */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  display:block;
  z-index: 1;
}

.stars {
  background: var(--black) url(./img/background/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(./img/background/twinkling.png) repeat top center;
  z-index:1;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(./img/background/clouds.png) repeat top center;
  z-index:2;
  opacity: .4;
  animation:move-clouds-back 200s linear infinite;
}

/* ----------------------------------------- */
/* ------------Scroll Btn------------ */
/* ----------------------------------------- */
.btn__scroll-top {
  cursor: pointer;
  margin: 0 3rem 0 auto;
  align-self: center;
  width: 3.5rem;
  height: 2rem;
  border: 1px solid var(--grey-light-6);
  background: transparent;
  color: var(--grey-light-6);
  transition: all 0.1s;
}

.btn__scroll-top:hover{
  opacity: 1;
  border: 1px solid var(--white);
  background: transparent;
  color: var(--white)
}